.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-gap: 10px;
  max-width: 200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
}

.calculator .input {
  grid-column: span 4;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
  background-color: #222;
  color: #fff;
  font-size: 2em;
}

.calculator .result {
  grid-column: span 4;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
  background-color: #222;
  color: #fff;
  font-size: 2em;
}

.calculator button {
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
  font-size: 1.5em;
}

.calculator .operator {
  background-color: #f5923e;
}

.calculator .clear,
.calculator .delete,
.calculator .porcent {
  background-color: #d6d6d6;
  color: #000;
}

.calculator .equals {
  grid-column: span 2;
  background-color: #f5923e;
}
